bbody {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  color: #ada8b6;
  background-color: #23022e;
}

body::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("https://storage.needpix.com/rsynced_images/grey-maze.jpg");
  opacity: 0.05;
  content: "";
  z-index: -1;
}



.container {
  width: 100vw;
  text-align:center;
  background-color:#0c5659;
}

.btn {
  background-color: #d8f7f7;
}

a {
  color: #ada8b6;
}
a:hover {
  text-shadow: 2px 2px 4px #d8f7f7;
  color: #ada8b6;
  text-decoration: none;
}
p {
  margin: 0;
}

div#toolbar {
  position: fixed;
  width: 100%;
  text-align: center;
}

.clickable {
  position: absolute;
  padding: 5px;
  font-size: xx-large;
  outline: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}
.clickable:hover {
  text-shadow: 2px 2px 4px #d8f7f7;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: small;
  text-indent: 30px;
  color: white;
  width: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
