body {
  font-family: "Courier New", Courier, monospace;
  color: #d8f7f7;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.columna {
  left: 0;
  background-color: #0c5659;
}

.columna::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("https://storage.needpix.com/rsynced_images/grey-maze.jpg");
  opacity: 0.05;
  content: "";
  z-index: -1;
}

.columnb {
  right: 0;
  background-color: #23022e;
}

.button {
  font-family: "Courier New", Courier, monospace;
  color: #ada8b6;
  text-decoration: none;
  margin-bottom: 50px;
  font-size: 200%;
}

.button:hover {
  text-shadow: 2px 2px 4px #d8f7f7;
}

.row {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.a {
  top: 20%;
}

.b {
  top: 50%;
}

.c {
  bottom: 0%;
}

p {
  font-size: 80%;
  color: #ada8b6;
}

.icon {
  width: 25%;
  filter: invert(0.9);
  opacity: 0.7;
}
.icon:hover {
  opacity: 0.8;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

